# Python
__pycache__
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Database
*.db

# Alembic (later)
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
